include ../horizontalMenu/_menu

// MAIN SLIDER
mixin mainSliderSlide(image, title, text, btn)
  .swiper-slide.promo-slider__slide
    img.promo-slider__img(src="img/"+ image +"", alt="")
    .promo-slider__mask
      h2!= title
      p!= text
      .wrap-btn
        a(href="#").simple-button!= btn

section.section_indent
  .container
    .container_wrap
      .slider-wrap.slider-wrap_indent
        .swiper-container.promo-slider(js-main-slider)
          .swiper-wrapper
            +mainSliderSlide("main-slider-img1.jpg",
            "Наборы косметики <span class='text-orange'>Bioderma</span> за полцены <br>только до 25 декабря",
            "Каждый раз, покупая какую-либо ценную вещь в дом, мы изучаем много различной <br>информации и становимся профессионалами в этой области.",
            "Собрать свой набор")
            +mainSliderSlide("main-slider-img1.jpg",
            "Наборы косметики <span class='text-orange'>Bioderma</span> за полцены <br>только до 25 декабря",
            "Каждый раз, покупая какую-либо ценную вещь в дом, мы изучаем много различной <br>информации и становимся профессионалами в этой области.",
            "Собрать свой набор")
            +mainSliderSlide("main-slider-img1.jpg",
            "Наборы косметики <span class='text-orange'>Bioderma</span> за полцены <br>только до 25 декабря",
            "Каждый раз, покупая какую-либо ценную вещь в дом, мы изучаем много различной <br>информации и становимся профессионалами в этой области.",
            "Собрать свой набор")

          .swiper-pagination.swiper-pagination__main-slider
        .swiper-button-prev.swiper-button-prev__main-slider
          +svgMono('arrowBottom')
        .swiper-button-next.swiper-button-next__main-slider
          +svgMono('arrowBottom')

      .product.product-day.hidden-1200
        .product__wrap-tag
          span.product__tag.product__tag_green Товар дня
        .product__img.product-day__img_height
          img(src="img/images1.jpg", alt="")
        .product__wrap-text.product__wrap-text_border_b
          span.product__brand.product_indent_b Aveda
          a(href="#").link-text.product__name.product_indent_b Men Pure-formance Men's Aftershave
          .product__wrap.product_indent_b
            span.product__old-price.product__old-price_indent_r 3 900 руб.
            span.product__amount-discount - 280 руб.
          span.product__price 1 230 руб.
        .product__wrap-text
          .product__wrap
            a(href="#").product__in-garbage.product__in-garbage_indent
              +svgMono('basket')
              +svgMono('addBasket')
              .product__wrap-hint
                span.product__hint-text Товар в вашей корзине
            a(href="#").link-text.product__compare
              +svgMono('comparison')
              span Сравнить


// CATEGORIES - MOBILE
mixin categoryCard(classMod, name, image, count)
  a(href="#" class="categories-grid__category " + classMod + "")
    .categories-grid__img
      img(src="img/"+image+"", alt="")
    .categories-grid__wrap-text
      span.categories-grid__name!= name
      span.categories-grid__quantity!= count

section.section_indent.hidden-769-b(data-teleport-target="categories-mobile")
  // contents to be teleported here

// BENEFITS SECTION
section.section_indent.hidden-768
  .container
    .benefits
      .benefits__item
        .benefits__ico.benefits__ico_indent
          +svgColor('boxTime')
        span.benefits__text
          = 'Курьерская доставка по Воронежу '
          br
          = 'на следующий день'
      .benefits__item
        .benefits__ico.benefits__ico_indent
          +svgColor('discount')
        span.benefits__text
          = 'Акции и скидки круглый год, '
          br
          = 'возврщение % от покупок бонусами'
      .benefits__item
        .benefits__ico.benefits__ico_indent
          +svgColor('listStar')
        span.benefits__text
          = 'Официальные диллеры, '
          br
          = 'сертифицированный товар'
      .benefits__item
        .benefits__ico.benefits__ico_indent
          +svgColor('cream')
        span.benefits__text
          = 'Товарный ассортимент из более чем '
          br
          = '24 000 позиций'

// SEPARATOR
section.section_indent.hidden-768
  .container
    .grey-line

mixin productCard(name, image, tags)
  .swiper-slide.product
    .product__wrap-tag
      if tags && tags.indexOf("sale") !== -1
        span.product__tag.product__tag_yellow Распродажа
      if tags && tags.indexOf("hit") !== -1
        span.product__tag.product__tag_green Хит продаж
    .product__img
      img(src="img/"+image+"", alt="")
    .product__wrap-text
      span.product__brand.product_indent_b Aveda
      a(href="#").link-text.product__name.product_indent_b!= name
      .product__wrap.product_indent_b
        span.product__old-price.product__old-price_indent_r 3 900 руб.
        span.product__amount-discount - 280 руб.
      span.product__price.product_indent_bx2 1 230 руб.
      .product__wrap.product_indent_bx2
        a(href="#").product__in-garbage.product__in-garbage_indent
          +svgMono('basket')
          +svgMono('addBasket')
          .product__wrap-hint
            span.product__hint-text Товар в вашей корзине
        a(href="#").link-text.product__compare
          +svgMono('comparison')
          span Сравнить
      .product__wrap
        a(href="#").product__btn-bottom
          +svgMono('questionMark')
          span Купить по оптовой цене

// PROMO Slider
section.section_indent.ovh
  .container
    h2.h2-title Товары со скидкой
    .auto-width-slider-wrap.auto-width-slider-wrap_indent
      .swiper-container.auto-width-slider.ovv-992.auto-width-slider_indent(js-auto-width-slider)
        .swiper-wrapper
          +productCard("Men Pure-formance", "images2.jpg", "sale hit")
          +productCard("Men Pure-formance Men's Aftershave", "images2.jpg", "hit")
          +productCard("Invati Nourishing Exfoliating Shampoo", "images1-1.jpg")
          +productCard("Men Pure-formance Men's Aftershave", "images3.jpg")
          +productCard("Men Pure-formance Men's Aftershave", "images2.jpg", "sale")
          +productCard("Men Pure-formance Men's Aftershave", "images2.jpg")
          +productCard("Men Pure-formance", "images2.jpg")
          +productCard("Men Pure-formance Men's Aftershave", "images2.jpg", "hit")
          +productCard("Invati Nourishing Exfoliating Shampoo", "images1-1.jpg")
          +productCard("Men Pure-formance Men's Aftershave", "images2.jpg")

        .swiper-pagination-small.swiper-pagination__auto-width-slider
      .swiper-button-prev.swiper-button-prev__auto-width-slider
        +svgMono('arrowBottom')
      .swiper-button-next.swiper-button-next__auto-width-slider
        +svgMono('arrowBottom')

// FEATURED Slider
section.section_indent.ovh
  .container
    h2.h2-title Новинки и хиты продаж

    // TAB LINK
    .tabs-link.tabs-link_indent
      a(href="#tab-1").tabs-link__tag.tabs-link__tag_active Новинки
      a(href="#tab-2").tabs-link__tag Хиты продаж

    .wrap-tabs

      // TAB 1
      .auto-width-slider-wrap.auto-width-slider-wrap_indent.tab.tab_active#tab-1
        .swiper-container.auto-width-slider.ovv-992.auto-width-slider_indent.dect-grid(js-featured-products-swiper)
          .swiper-wrapper
            +productCard("Men Pure-formance", "images2.jpg", "sale hit")
            +productCard("Men Pure-formance Men's Aftershave", "images2.jpg", "hit")
            +productCard("Invati Nourishing Exfoliating Shampoo", "images1-1.jpg")
            +productCard("Men Pure-formance Men's Aftershave", "images3.jpg")
            +productCard("Men Pure-formance Men's Aftershave", "images2.jpg", "sale")
            +productCard("Men Pure-formance Men's Aftershave", "images2.jpg")
            +productCard("Men Pure-formance", "images2.jpg")
            +productCard("Men Pure-formance Men's Aftershave", "images2.jpg", "hit")
            +productCard("Invati Nourishing Exfoliating Shampoo", "images1-1.jpg")
            +productCard("Invati Nourishing Exfoliating Shampoo", "images1-1.jpg")
            +productCard("Invati Nourishing Exfoliating Shampoo", "images1-1.jpg")

          .swiper-pagination-small.swiper-pagination__featured-products-swiper

      // TAB 2
      .auto-width-slider-wrap.auto-width-slider-wrap_indent.tab#tab-2
        .swiper-container.auto-width-slider.ovv-992.auto-width-slider_indent.dect-grid(js-featured-products-swiper2)
          .swiper-wrapper
            +productCard("Men Pure-formance Men's Aftershave", "images2.jpg", "hit")
            +productCard("Invati Nourishing Exfoliating Shampoo", "images1-1.jpg")
            +productCard("Men Pure-formance Men's Aftershave", "images2.jpg", "sale")
            +productCard("Men Pure-formance Men's Aftershave", "images3.jpg")
            +productCard("Men Pure-formance", "images2.jpg", "sale hit")
            +productCard("Men Pure-formance Men's Aftershave", "images2.jpg")
            +productCard("Men Pure-formance", "images2.jpg")
            +productCard("Men Pure-formance Men's Aftershave", "images2.jpg", "hit")
            +productCard("Invati Nourishing Exfoliating Shampoo", "images1-1.jpg")
            +productCard("Invati Nourishing Exfoliating Shampoo", "images1-1.jpg")
            +productCard("Invati Nourishing Exfoliating Shampoo", "images1-1.jpg")

          .swiper-pagination-small.swiper-pagination__featured-products-swiper2

// PROMOS
mixin promoCard(image, time, text)
  .swiper-slide.promo-card
    .promo-card__img
      img(src="img/"+ image +"", alt="")
    .promo-card__wrap-text
      .promo-card__inner-text
        span.promo-card__time.promo-card__time_indent!= time
        a(href="#").promo-card__text!= text

mixin spromoCard(image, time, text)
  .swiper-slide.spromo-card
    img(src="img/"+ image +"", alt="")
    .spromo-card__mask
      .spromo-card__wrap-text
        span.spromo-card__time.spromo-card__time_indent!= time
        a(href="#").spromo-card__text!= text

section.section_indent2.bg-color-blue.ovh
  .container
    h2.h2-title.h2-title_center Акции и специальные предложения
    .auto-width-slider-wrap.auto-width-slider-wrap_indent
      .swiper-container.auto-width-slider.auto-width-slider_indent.ovv(js-promotions-specials)
        .swiper-wrapper

          +spromoCard("m_main_avedathickeningtonic_posta-magazine-2.jpg", "c 31 августа по 12 сентября", "Успейте подготовиться к лету с новой серией кремов и спреев для загара Aveda")

          +promoCard("images2-1.jpg", "c 31 августа по 12 сентября", "Успейте подготовиться к лету с новой серией кремов и спреев для загара Aveda")
          +promoCard("images2-1.jpg", "c 31 августа по 12 сентября", "Успейте подготовиться к лету с новой серией кремов и спреев для загара Aveda")
          +promoCard("images2-1.jpg", "c 31 августа по 12 сентября", "Успейте подготовиться к лету с новой серией кремов и спреев для загара Aveda")
          +promoCard("images2-1.jpg", "c 31 августа по 12 сентября", "Успейте подготовиться к лету с новой серией кремов и спреев для загара Aveda")

        .swiper-pagination-small.swiper-pagination__promotions-specials
      .swiper-button-prev.swiper-button-prev__promotions-specials
        +svgMono('arrowBottom')
      .swiper-button-next.swiper-button-next__promotions-specials
        +svgMono('arrowBottom')

// CATEGORIES - desktop
section.section_indent2.hidden-768(js-teleport data-teleport-to="categories-mobile" data-teleport-condition="<769")
  .container
    h2.h2-title Популярные категории
    .categories-grid.categories-grid_indent
      +categoryCard("", "Восстановление и сохранение здоровых волос", "category-1.jpg", "764 товара")
      +categoryCard("", "Окрашивание и тонирование", "category-2.jpg", "209 товаров")
      +categoryCard("", "Оборудование для косметических салонов", "category-3.jpg", "74 товара")

      +categoryCard("", "Восстановление и сохранение здоровых волос", "category-1.jpg", "764 товара")
      +categoryCard("", "Окрашивание и тонирование", "category-2.jpg", "209 товаров")
      +categoryCard("", "Оборудование для косметических салонов", "category-3.jpg", "74 товара")

      +categoryCard("categories-grid__category_hidden", "Восстановление и сохранение здоровых волос", "category-1.jpg", "764 товара")
      +categoryCard("categories-grid__category_hidden", "Окрашивание и тонирование", "category-2.jpg", "209 товаров")
      +categoryCard("categories-grid__category_hidden", "Оборудование для косметических салонов", "category-3.jpg", "74 товара")

    .wrap-btn-center.wrap-btn-center_indent
      button.btn-transparent.show-all-categories Показать все категории
