// HEADER :: START

header.header.header_padding-bottom
  .border-bottom.border-bottom_mobile-none
    .container.mobile-bg-blue

      .header-wrap

        .top-menu.top-menu_indent

          .top-menu__delivery
            +svgMono('delivery')
            = 'Ваш город доставки: '
            a(
              href='#popap-select-city',
              data-fancybox
            ).f-600.link-text
              = 'Воронеж'

          ul.header-small-menu.hidden-1200
            li
              a(href="#") Доставка и оплата
            li
              a(href="#") Гарантия и возврат
            li
              a(href="#") Система бонусов

          ul.mobile-small-menu
            li
              a(href="tel:8 800 287 14 73").link-text
                +svgMono('call')
                = '8 800 287 14 73'
            li.wrap-mobile-search
              a(href="#").wrap-mobile-search__ico
                +svgMono('search')
              form.mobile-search
                input(
                  type="search",
                  placeholder='Поиск товара'
                ).mobile-search__input
                button(type="submit").mobile-search__button
                  +svgMono('search')
            li
              .block-login
                a(href="#").block-login__entrance.link-text
                  +svgMono('user')
                  = 'Вход'
                .block-login__separator.block-login__separator_indent
                a(href="#").block-login__registration.link-text
                  = 'Регистрация'

  .container
    .header-wrap

      .center-menu.center-menu_indent
        .center-menu-left
          .center-menu-left__item
            a(href="#").header-block-logo
              i.icon.icon-logo
              i.icon.icon-logoSmall
          .center-menu-left__item.hidden-1200
            a(href="#").menu-center-link
              .menu-center-link__ico
                +svgMono('call')
              .menu-center-link__text
                .main-text.f-600.menu-center-link__text_indent-bottom 8 800 287 14 73
                .small-text.color-grey Заказать обратный звонок

        .center-menu-right
          .center-menu-right__item
            a(href="#").menu-center-link
              .menu-center-link__ico
                +svgMono('comparison')
              .menu-center-link__text
                .main-text.f-600.menu-center-link__text_indent-bottom Сравнение товаров
                .small-text.color-grey На сумму 1390 руб.
          .center-menu-right__item
            a(href="#").menu-center-link
              .menu-center-link__ico
                +svgMono('basket')
                span.menu-center-link__numb 3
              .menu-center-link__mobile-text Корзина
              .menu-center-link__text
                .main-text.f-600.menu-center-link__text_indent-bottom Ваша корзина
                .small-text.color-grey 3 товара на 35 140 руб.

      .bottom-menu

        .wrap-menu-full-catalog
          a(href="#").btn-open-full-catalog
            .btn-open-full-catalog-burger.btn-open-full-catalog-burger_indent
              .btn-open-full-catalog-burger__line
              .btn-open-full-catalog-burger__line
              .btn-open-full-catalog-burger__line
            span.btn-open-full-catalog__text Полный каталог
          .menu-full-catalog.menu-full-catalog_hidden
            .menu-full-catalog__head
              span.menu-full-catalog__title Каталог
              a(href="#").btn-back.menu-full-catalog__hidden
                +svgMono('arrowBottom')
                = 'Вернуться назад'
              button.menu-full-catalog__btn-close
                +svgMono('close')
            .inner-menu-full-catalog
              ul.menu-full-catalog__main
                li
                  a(href="#")
                    = 'Оборудование'
                    +svgMono('arrowBottom')
                  ul
                    li
                      a(href="#")
                        = 'Для окрашивания'
                        +svgMono('arrowBottom')
                      ul
                        li
                          a(href="#")
                            = '123'
                            +svgMono('arrowBottom')
                          ul
                            li
                              a(href="#") rr
                            li
                              a(href="#") rr
                            li
                              a(href="#") rr
                            li
                              a(href="#") rr
                        li
                          a(href="#") 123
                        li
                          a(href="#") 123
                    li
                      a(href="#") Для роста волос
                    li
                      a(href="#") Стайлинг
                    li
                      a(href="#")
                        = 'Жирные волосы'
                        +svgMono('arrowBottom')
                      ul
                        li
                          a(href="#") тут
                        li
                          a(href="#") тут
                        li
                          a(href="#") тут
                        li
                          a(href="#") тут
                        li
                          a(href="#") тут
                        li
                          a(href="#") тут
                    li
                      a(href="#") От выпадания
                li
                  a(href="#")
                    = 'Для роста волос'
                    +svgMono('arrowBottom')
                  ul
                    li
                      a(href="#") 22
                    li
                      a(href="#") 22
                    li
                      a(href="#")
                        = '22'
                        +svgMono('arrowBottom')
                      ul
                        li
                          a(href="#") 3asd
                        li
                          a(href="#") 3asd
                        li
                          a(href="#") 3asd
                        li
                          a(href="#") 3asd
                        li
                          a(href="#") 3asd
                        li
                          a(href="#") 3asd
                        li
                          a(href="#") 3asd
                        li
                          a(href="#") 3asd
                        li
                          a(href="#") 3asd
                    li
                      a(href="#") 22
                    li
                      a(href="#") 22
                li
                  a(href="#")
                    = 'Лицо'
                    +svgMono('arrowBottom')
                  ul
                    li
                      a(href="#") 23
                    li
                      a(href="#") 23
                    li
                      a(href="#") 23
                    li
                      a(href="#") 23
                    li
                      a(href="#") 23
                li
                  a(href="#")
                    = 'Тело'
                li
                  a(href="#")
                    = 'От выпадания'
                li
                  a(href="#")
                    = 'Брови и ресницы'
                li
                  a(href="#")
                    = 'Инструменты'
          
        form.search-form.search-form_indent
          .search-form__block-input
            input.search-form__inpuut(
              type="search",
              placeholder='Поиск товара по названию, бренду и артиклу'
              )
            .search-form__close
              +svgMono('close')
            .search-options
              ul
                li
                  a(href="#")
                    .search-options__img.search-options__img_indent
                      img(src="img/small-img1.jpg", alt="")
                    .search-options__wrap-text
                      .search-options__name.search-options__name_indent Men Pure-formance Men's Aftershave
                      .search-options__price 4 510 руб.
                li
                  a(href="#")
                    .search-options__img.search-options__img_indent
                      img(src="img/small-img2.jpg", alt="")
                    .search-options__wrap-text
                      .search-options__name.search-options__name_indent Men Pure-formance Men's Aftershave
                      .search-options__price 4 510 руб.
                li
                  a(href="#")
                    .search-options__img.search-options__img_indent
                      img(src="img/small-img1.jpg", alt="")
                    .search-options__wrap-text
                      .search-options__name.search-options__name_indent Men Pure-formance Men's Aftershave
                      .search-options__price 4 510 руб.
              .search-options__wrap-all-product
                span.search-options__all-product-text
                  = 'Всего найдено: '
                span.search-options__all-product-numb
                  = '346 товаров'
              a(href="#").search-options__btn-all Смотреть все результаты

          button.search-form__button(type="submit")
            +svgMono('search')
            = 'Найти'

        .block-login.block-login_indent.hidden-1200.block-login_active
          a(href="#").block-login__entrance.link-text
            +svgMono('user')
            = 'Вход'
          .block-login__separator.block-login__separator_indent
          a(href="#").block-login__registration.link-text
            = 'Регистрация'
          .block-login__inner
            ul.block-login__menu
              li
                a(href="#") Личные данные
              li
                a(href="#") История заказов
              li
                a(href="#") Бонусные баллы